.sidebar {
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 3;
}

.link {
  text-decoration: none;
  color: #09c;
}

.link:hover {
  filter: brightness(130%);
}

.active {
  padding: 0.2rem 1rem;
  color: #09c;
  text-decoration: none;
  border: 1px solid #09c;
  border-radius: 5px;
}

.active:hover {
  filter: brightness(130%);
  box-shadow: 1px 1px 5px #999;
}
