@import 'default'

.todo
  margin-top: 3rem

  .container
    display: flex
    flex-wrap: wrap

  &-wrapper
    flex: 50%

  &-list
    margin-top: 2rem

  &-task
    margin-top: 1rem

    &__remove-btn
      margin-right: 1rem
      padding: 0 !important
      box-shadow: 1px 1px 4px #333
      
    &-checkbox
      margin-right: 1rem
      box-shadow: 1px 1px 4px #333

      &:checked ~ .todo-task-title 
        color: #aaa
        text-decoration: line-through

      &:checked ~ .todo-task__due-date 
        color: #aaa
      
      &:checked ~ .todo-task-description
        color: #aaa

    &__due-date
      margin-left: 2em
      font-size: 0.9rem
      background-color: #eee
      border-radius: 5px
      padding: 0.3rem

      &--overdue
        color: #eee
        background-color: #a00

    &-description
      margin-left: 4rem
      font-size: 0.8rem
      color: #777

    &--done
      display: none

  &__is-all
    margin-top: 3rem

    &__checkbox
      margin-right: 1rem
      width: 1.2rem
      height: 1.2rem
      box-shadow: 1px 1px 2px #333

  &-form
    label
      margin-top: 1rem

    input
      box-shadow: 2px 2px 4px #333

    &-title
      display: block
      max-width: 20rem

    &-description
      display: block
      max-width: 20rem

    &-due_date
      display: block
      max-width: 10rem

    &-button
      margin-top: 1.5rem
      box-shadow: 2px 2px 4px #333

  .connection-error 
    padding: 0.5rem 1.5rem
    font-size: 1.5rem
    font-weight: bold
    color: #fff
    border-radius: 4px
    background-color: #a00

  .error-description
    padding: 0.5rem
    color: #333
    border-radius: 4px
    background-color: #eee