@import 'default'

.todo
  margin-top: 3rem

  .container
    display: flex
    flex-wrap: wrap

  &-wrapper
    flex: 50%

  &-list
    margin-top: 2rem

  &-task
    margin-top: 1rem

    &__remove-btn
      margin-right: 1rem
      padding: 0 !important
      

    &-checkbox
      margin-right: 1rem

      &:checked ~ .todo-task-label 
        color: #aaa
        text-decoration: line-through

      &:checked ~ .todo-task-due_date 
        color: #aaa
      
      &:checked ~ .todo-task-description
        color: #aaa


    
    &-due_date
      margin-left: 2em
      font-size: 0.9rem

      &--overdue
        color: #900



    &-description
      margin-left: 4rem
      font-size: 0.8rem
      color: #777

    &--done
      display: none

  &-isall
    margin-top: 2rem

    &-checkbox
      margin-right: 1rem

  &-form
    label
      margin-top: 1rem

    &-title
      display: block
      max-width: 20rem

    &-description
      display: block
      max-width: 25rem

    &-due_date
      display: block
      max-width: 15rem

    &-button
      margin-top: 1.5rem